<md-content layout="row" flex layout-padding style="width: 100%">

  <form name="newDirectLink"
        layout="column" flex
        md-theme="docs-new">

    <div layout="column" ng-cloak class="md-inline-form">
      <md-content layout="row" layout-gt-sm="row" layout-padding>
        <div layout="column" style="min-width: 128px; vertical-align: top; display: table-cell; text-align: center;">
          <md-icon class="avatar-icon md-primary"
                   md-svg-icon="{{item.icon || 'content:add'}}" style="width: 100px; height: 100px;"></md-icon>
        </div>
        <div layout="column" flex>
          <md-input-group layout="row">
            <md-input-container>
              <label>New Title</label>
              <input id="linkName"
                     required
                     md-autofocus
                     ng-model="item.name"
                     cmd-enter="newDirectLink.$valid && createLink(item)">
            </md-input-container>
            <md-input-container flex>
              <label>External Link URL</label>
              <input id="linkUrl"
                     ng-model="item.url"
                     type="url"
                     required
                     md-autofocus
                     cmd-enter="newDirectLink.$valid && createLink(item)">
            </md-input-container>
          </md-input-group>
        </div>
        <div layout="column">
          <md-button layout="row"
                     class="md-raised md-primary"
                     ng-disabled="!newDirectLink.$valid"
                     ng-click="newDirectLink.$valid && createLink(item)"
                     md-autofocus>
            Create New
          </md-button>
        </div>
      </md-content>
    </div>

  </form>
</md-content>
